html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
main,
nav,
section {
    display: block;
}

h1 {
    font-size: 2rem;
    margin: 0.67rem 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1rem; /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1rem; /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25rem;
}

sup {
    top: -0.5rem;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input {
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35rem 0.75rem 0.625rem;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Minimal.css */
/* Author: Sushil Kumar (CodeWithSushil) */
/* github: https://github.com/CodeWithSushil/minimal.css */
/* version: 0.0.1 */

*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
}

html {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
}

html {
    overflow-x: hidden !important;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Sans-Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0px;
    font-family: "Segoe UI", Arial, Sans-Serif;
}

:root {
    --dark: rgb(45, 45, 45);
    --black: rgb(0, 0, 0);
    --light: rgb(255, 255, 255);
    --primary: rgb(60, 100, 235);
    --success: rgb(42,190,42);
    --warning: rgb(245, 160, 0);
    --danger: rgb(245, 65, 65);
    --info: rgb(100, 180, 180);
}

/* Theme Color */
.bg-dark {
    color: var(--light);
    background-color: var(--dark);
}
.bg-light {
    color: var(--dark);
    background-color: var(--light);
}

/* Text Colors */
.txt-black {
    color: var(--black);
}
.txt-white {
    color: var(--light);
}
.txt-primary {
    color: var(--primary);
}
.txt-success {
    color: var(--success);
}
.txt-warning {
    color: var(--warning);
}
.txt-danger {
    color: var(--danger);
}
.txt-info {
    color: var(--info);
}

/* background Colors */
.bg-primary {
    background-color: var(--primary);
}
.bg-success {
    background-color: var(--success);
}
.bg-warning {
    background-color: var(--warning);
}
.bg-danger {
    background-color: var(--danger);
}
.bg-info {
    background-color: var(--info);
}
.bg-transparent {
    background: transparent !important;
}

/* Margin */
.margin {
    margin: 1rem !important;
}

.margin-top {
    margin-top: 1rem !important;
}

.margin-bottom {
    margin-bottom: 1rem !important;
}

.margin-left {
    margin-left: 1rem !important;
}

.margin-right {
    margin-right: 1rem !important;
}

.margin-y {
    margin: 1rem 0rem !important;
}

.margin-x {
    margin: 0rem 1rem !important;
}
.margin-auto {
    margin: auto !important;
}

/* Padding */
.padding {
    padding: 0.5rem 1rem !important;
}

.padding-sm {
    padding: 0.25rem 0.5rem !important;
}

.padding-lg {
    padding: 0.75rem 1.5rem !important;
}

.padding-ao {
    padding: 1rem !important;
}

.padding-top {
    padding-top: 1rem !important;
}

.padding-bottom {
    padding-bottom: 1rem !important;
}

.padding-left {
    padding-left: 1rem !important;
}

.padding-right {
    padding-right: 1rem !important;
}

.padding-y {
    padding: 1rem 0rem !important;
}

.padding-x {
    padding: 0rem 1rem !important;
}
.padding-32 {
    padding: 2rem 0rem !important;
}
/*Font style */
.font-roman{
    font-family: 'Times New Roman',Serif!important;
}
.font-mono{
    font-family: Monospace!important;
}
/* Position */
.absolute {
    position: absolute !important;
}
.relative {
    position: relative !important;
}
.static {
    position: static !important;
}
.fixed {
    position: fixed !important;
}
.sticky {
    position: sticky !important;
}
.sticky-top {
    top: 0% !important;
    position: sticky !important;
}
.sticky-bottom {
    bottom: 0% !important;
    position: sticky !important;
}

/* Display */
.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.hide {
    display: none !important;
}

.inline-block {
    display: inline-block !important;
}

/* List style */
.list-none {
    list-style: none !important;
}

.list-disc {
    list-style-type: disc !important;
}

.list-square {
    list-style-type: square !important;
}
.list-circle {
    list-style-type: circle !important;
}
.list-in {
    list-style-position: inside !important;
}
.list-out {
    list-style-position: outside !important;
}
.list-roman {
    list-style-type: upper-roman !important;
}
.list-roman-l {
    list-style-type: lower-roman !important;
}
.list-alpha {
    list-style-type: upper-alpha !important;
}
.list-alpha-l {
    list-style-type: lower-alpha !important;
}
.list-number-0 {
    list-style-type: decimal-leading-zero !important;
}
.list-number {
    list-style-type: decimal !important;
}

/* Text styles */
.uppercase {
    text-transform: uppercase !important;
}
.lowercase {
    text-transform: lowercase !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.txt-center {
    text-align: center !important;
}
.txt-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.txt-justify {
    text-align: justify !important;
}
.center {
    margin: 0rem auto !important;
}
.font {
    font-size: 16px !important;
}
/* Image and videos */
.image,
.video {
    width: 100% !important;
    height: auto !important;
    border: none !important;
    outline: none !important;
    border-radius: 0% !important;
}

/*Border styles*/
.border-none,
.border-0 {
    border: none !important;
    outline: none !important;
}
.border-2 {
    border-width: 0.125rem !important;
    border-style: solid !important;
}
.border-4 {
    border-width: 0.25rem !important;
    border-style: solid !important;
}

/* Table style */
.table,
table {
    width: 100% !important;
    display: table !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    overflow-x: auto !important;
}
tr,
th,
td {
    border-width: 1px !important;
    border-style: solid !important;
    text-align: left !important;
}

/* Buttons styles*/
.btn,
button,
[type="button"],
[type="submit"],
[type="reset"] {
    font-size: 15px !important;
    display: block !important;
    margin: 0.125rem !important;
    padding: 0.35rem 1rem !important;
    outline: none !important;
    border-radius: 0.25rem !important;
    border-style: solid !important;
    border-width: 0.125rem !important;
    text-decoration: none !important;
    cursor: pointer;
}

.btn-danger {
    text-align: center !important;
    color: var(--light) !important;
    background-color: var(--danger) !important;
    border-color: var(--danger);
}
.btn-danger:hover,
.btn-danger:focus {
    color: var(--danger) !important;
    background-color: var(--light) !important;
    border-color: var(--danger) !important;
}
.btn-danger-none {
    color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.btn-success {
    text-align: center !important;
    color: var(--light) !important;
    background-color: var(--success) !important;
    border-color: var(--light);
}
.btn-success:hover,
.btn-success:focus {
    color: var(--success) !important;
    background-color: var(--light) !important;
    border-color: var(--success) !important;
}

/* Flex Box styles */
.flex {
    display: flex !important;
    display: -webkit-flex !important;
}
.column {
    flex-direction: column !important;
}
.column-reverse {
    flex-direction: column-reverse !important;
}
.f-row {
    flex-direction: row !important;
}
.d-row-reverse {
    flex-direction: row-reverse !important;
}
.wrap {
    flex-wrap: wrap !important;
}
.wrap-reverse {
    flex-wrap: wrap-reverse !important;
}
.wrap-no {
    flex-wrap: nowrap !important;
}
.items-center {
    align-items: center !important;
}
.items-baseline {
    align-items: baseline !important;
}
.items-start {
    align-items: flex-start !important;
}
.items-end {
    align-items: flex-end !important;
}
.items-normal {
    align-items: normal !important;
}
.items-stretch {
    align-items: stretch !important;
}
.content-stretch {
    align-content: stretch !important;
}
.content-center {
    align-content: center !important;
}
.content-start {
    align-content: flex-start !important;
}
.content-end {
    align-content: flex-end !important;
}
.content-starts {
    align-content: start !important;
}
.content-ends {
    align-content: end !important;
}
.content-between {
    align-content: space-between !important;
}
.content-around {
    align-content: space-around !important;
}
.content-evenly {
    align-content: space-evenly !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-start {
    justify-content: flex-start !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-between {
    justify-content: space-between !important;
}
.justify-around {
    justify-content: space-around !important;
}
.justify-evenly {
    justify-content: space-evenly !important;
}
/* Flexbox items styles */
.self-start {
    align-self: flex-start !important;
}
.self-end {
    align-self: flex-end !important;
}
.self-baseline {
    align-self: baseline !important;
}
.self-auto {
    align-self: auto !important;
}
.self-stretch {
    align-self: stretch !important;
}

/* Grid View */
.row::after,
.row::before {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.mobile {
    display: block !important;
    width: 100% !important;
}

/*** Responsive Design with grid view ***/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    [class*="col-xs-"] {
        float: left;
        padding: 15px;
    }
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    [class*="col-sm-"] {
        float: left;
        padding: 15px;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    [class*="col-md-"] {
        float: left;
        padding: 15px;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    [class*="col-lg-"] {
        float: left;
        padding: 15px;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    [class*="col-xl-"] {
        float: left;
        padding: 15px;
    }
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}
