/* Minimal.css variables */
$dark: rgb(45, 45, 45);
$black: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$primary: rgb(60, 100, 235);
$success: rgb(42,190,42);
$warning: rgb(245, 160, 0);
$danger: rgb(245, 65, 65);
$info: rgb(100, 180, 180);
